body {
  font-family: "Libertinus Mono", monospace;
}

h2 {
  font-size: 30px;
}

.paragraph-1::before {
  content: "🤖 Псевдоэлемент ::before добавляет emoji-значок перед текстом";
  display: block;
  color: #726cd1;
  font-size: 20px;
}

.paragraph-2::before {
  content: "🧠  Псевдоэлемент ::before добавляет emoji-значок перед текстом";
  color: #726cd1;
  display: block;
  font-size: 20px;
}

p {
  font-size: 20px;
  line-height: 150%;
}

.paragraph-3::after {
  content: "⚙️ Псевдоэлемент ::after добавляет emoji-значок после текста";
  display: block;
  color: #726cd1;
  font-size: 20px;
}

.paragraph-4::after {
  content: "🌐 Псевдоэлемент ::after добавляет emoji-значок после текста";
  display: block;
  color: #726cd1;
  font-size: 20px;
}

section {
  position: relative;
  background-color: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

section::before,
section::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  background: linear-gradient(to right, #b6eefd, #004fb0);
}

section::before {
  top: -10px;
}

section::after {
  bottom: -10px;
}

section h2 {
  position: relative;
  font-size: 1.5em;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

section h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 60px;
  background-color: #004fb0;
  border-radius: 2px;
}

.paragraph-6::before {
  content: "⏳";
  margin-right: 8px;
  color: #0072ff;
}

.paragraph-5::before {
  content: "💡";
  margin-right: 8px;
  color: #0072ff;
}

.paragraph-5,
.paragraph-6 {
  line-height: 1.6;
  margin-bottom: 15px;
  position: relative;
}
