body {
    font-family: "Montserrat", sans-serif;
    color: rgba(46, 54, 62, 1);
    background: radial-gradient(circle, rgba(254, 215, 76, 0.337), rgba(254, 216, 76, 0.3), rgba(254, 215, 76, 0.023) );
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.desserts__card_container {
    display: flex;
    gap: 20px;
    width: 1180px;
    margin: auto;
    margin-top: 80px;
}

.desserts__card {
    width: 380px;
    height: 582px;
    box-shadow: 2px 8px 16px 0px rgb(194, 198, 208);
    border-radius: 10px;
    background: linear-gradient(to top, rgba(254, 216, 76, 0.5), rgba(254, 216, 76, 0.3), rgba(254, 215, 76, 0.023) );
}

.desserts__card_text {
    width: 247px;
    margin-left: 44px;
    margin-top: 50px;
}

.desserts__card_text_container {
    height: 95px;
}

.desserts__card_text h3 {
    font-size: 24px;
    line-height: 143%;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px rgb(194, 198, 208);
}

.desserts__card_text_description {
    font-size: 16px;
    line-height: 150%;
    margin-top: 12px;
}

.desserts__card_text_price {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}

.desserts__card button {
    background-color: rgba(254, 216, 76, 1);
    padding: 20px 40px;
    width: 163px;
    height: 68px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    font-weight: 500;
}

.desserts__card button:hover {
    background-color: rgb(246, 193, 0);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@media (max-width: 480px) {
    h1 {
        font-size: 25px;
    }

    .desserts__card_container {
        flex-direction: column; 
        align-items: center; 
        width: auto; 
    }

    .desserts__card {
        width: 100%; 
        max-width: 380px;
        margin-bottom: 20px; 
    }
}

